# Reading Big CSV Files in Python

In [34]:
import pandas as pd

### READ THE FIRST 100 ROWS

In [35]:
data_100 = pd.read_csv('dataset/big_mart_sales.csv', nrows=101)

In [36]:
data_100.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [37]:
data_100.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
96,FDF41,12.15,Low Fat,0.131384,Frozen Foods,246.0460,OUT049,1999,Medium,Tier 1,Supermarket Type1,1231.7300
97,FDB56,8.75,Regular,0.074613,Fruits and Vegetables,187.4556,OUT035,2004,Small,Tier 2,Supermarket Type1,3755.1120
98,NCP18,NaN,Low Fat,0.028460,Household,149.9708,OUT027,1985,Medium,Tier 3,Supermarket Type3,4363.6532
99,FDB56,8.75,Regular,0.074627,Fruits and Vegetables,187.8556,OUT046,1997,Small,Tier 1,Supermarket Type1,1314.2892
100,FDT28,13.30,Low Fat,0.063695,Frozen Foods,151.0708,OUT045,2002,NaN,Tier 2,Supermarket Type1,1805.6496

In [38]:
data_100.shape

(101, 12)

### READ THE NEXT 100 ROWS

In [39]:
data_100_200 = pd.read_csv('dataset/big_mart_sales.csv', skiprows=101, nrows=100)

In [40]:
data_100_200.head()

,FDT28,13.3,Low Fat,0.063695084,Frozen Foods,151.0708,OUT045,2002,Unnamed: 8,Tier 2,Supermarket Type1,1805.6496
0,FDD10,NaN,Regular,0.045798,Snack Foods,178.5344,OUT027,1985,Medium,Tier 3,Supermarket Type3,2854.9504
1,FDW57,8.31,Regular,0.115857,Snack Foods,179.1028,OUT049,1999,Medium,Tier 1,Supermarket Type1,3896.2616
2,DRB48,16.75,Regular,0.024833,Soft Drinks,38.7822,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
3,FDP09,19.75,Low Fat,0.034028,Snack Foods,212.0902,OUT018,2009,Medium,Tier 3,Supermarket Type2,3185.8530
4,FDH14,17.10,Regular,0.046770,Canned,141.1838,OUT013,1987,High,Tier 3,Supermarket Type1,2247.7408

In [41]:
data_100_200.tail()

,FDT28,13.3,Low Fat,0.063695084,Frozen Foods,151.0708,OUT045,2002,Unnamed: 8,Tier 2,Supermarket Type1,1805.6496
95,FDB41,19.00,Regular,0.097313,Frozen Foods,48.0718,OUT046,1997,Small,Tier 1,Supermarket Type1,992.7078
96,NCN55,14.60,Low Fat,0.059583,Others,238.8538,OUT049,1999,Medium,Tier 1,Supermarket Type1,6008.8450
97,FDE40,NaN,Regular,0.098664,Dairy,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
98,FDX49,NaN,reg,0.101339,Canned,232.6300,OUT027,1985,Medium,Tier 3,Supermarket Type3,5359.6900
99,NCM53,18.75,Low Fat,0.052146,Health and Hygiene,104.6280,OUT045,2002,NaN,Tier 2,Supermarket Type1,745.6960

In [42]:
data_100_200.shape

(100, 12)

### READ ROW NO. FROM 200 TO 300

In [43]:
data_200_300 = pd.read_csv('dataset/big_mart_sales.csv', skiprows=201, nrows=100)

In [44]:
data_200_300.head()

,NCM53,18.75,Low Fat,0.052146456,Health and Hygiene,104.628,OUT045,2002,Unnamed: 8,Tier 2,Supermarket Type1,745.696
0,FDE36,5.26,Regular,0.041764,Baking Goods,161.8868,OUT035,2004,Small,Tier 2,Supermarket Type1,3275.7360
1,FDN57,18.25,Low Fat,0.054344,Snack Foods,140.2154,OUT045,2002,NaN,Tier 2,Supermarket Type1,1701.7848
2,FDI24,NaN,Low Fat,0.078362,Baking Goods,177.9370,OUT027,1985,Medium,Tier 3,Supermarket Type3,6704.6060
3,FDI19,15.10,Low Fat,0.052339,Meat,242.7512,OUT046,1997,Small,Tier 1,Supermarket Type1,4119.9704
4,FDF24,15.50,Regular,0.042465,Baking Goods,81.5934,OUT010,1998,NaN,Tier 3,Grocery Store,327.5736

In [45]:
data_200_300.tail()

,NCM53,18.75,Low Fat,0.052146456,Health and Hygiene,104.628,OUT045,2002,Unnamed: 8,Tier 2,Supermarket Type1,745.696
95,FDK36,7.090,Low Fat,0.007214,Baking Goods,47.9034,OUT035,2004,Small,Tier 2,Supermarket Type1,583.2408
96,NCM31,6.095,Low Fat,0.081197,Others,141.4154,OUT046,1997,Small,Tier 1,Supermarket Type1,1418.1540
97,FDE33,19.350,Regular,0.049916,Fruits and Vegetables,80.2644,OUT017,2007,NaN,Tier 2,Supermarket Type1,942.7728
98,FDU36,6.150,Low Fat,0.046271,Baking Goods,99.3384,OUT046,1997,Small,Tier 1,Supermarket Type1,2364.9216
99,FDV13,NaN,Regular,0.027477,Canned,87.9856,OUT027,1985,Medium,Tier 3,Supermarket Type3,3251.7672

In [46]:
data_200_300.shape

(100, 12)